.App {
  text-align: center;
}
.diamond-box {
  display: flex;
  height: 50vh;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.diamond1 {
  width: 0;
  height: 0;
  border: 200px solid transparent;
  border-bottom-color: red;
  position: relative;
  top: -50px;
  transition: 0.5s;
}
.diamond1:after {
  content: "Products";
  font-size: 40px;
  font-weight: 600;
  position: absolute;
  left: -200px;
  top: 199px;
  width: 0;
  height: 0;
  border: 200px solid transparent;
  border-top-color: red;
  transition: 0.5s;
}
.diamond1:hover {
  border: 220px solid transparent;
  border-bottom-color: red;
  cursor: pointer;
}
.diamond1:hover:after {
  left: -220px;
  top: 219px;
  border: 220px solid transparent;
  border-top-color: red;
  cursor: pointer;
}

.diamond2 {
  width: 0;
  height: 0;
  border: 100px solid transparent;
  border-bottom-color: red;
  position: relative;
  top: -50px;
  transition: 0.5s;
}
.diamond2:after {
  content: "Add_Products";
  font-size: 30px;
  font-weight: 600;
  position: absolute;
  left: -100px;
  top: 99px;
  width: 0;
  height: 0;
  border: 100px solid transparent;
  border-top-color: red;
  transition: 0.5s;
}
.diamond2:hover {
  border: 120px solid transparent;
  border-bottom-color: red;
  cursor: pointer;
}
.diamond2:hover:after {
  left: -120px;
  top: 119px;
  border: 120px solid transparent;
  border-top-color: red;
  cursor: pointer;
}
